/* IndiaPage.css */
.india-page {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.india-news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.india-news-card {
  background: #fff;
  border-radius: 0; /* No rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.india-news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.india-news-card h2 {
  font-size: 1.5rem;
  margin: 10px;
}

.india-news-card p {
  font-size: 1rem;
  margin: 10px;
}

.india-category-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative; /* Position relative for absolute positioning */
  text-align: center;
}

.india-category-heading:after {
  content: ''; /* Create a pseudo-element for the underline */
  position: absolute; /* Position absolutely */
  bottom: -5px; /* Adjust to position the underline */
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Width of the underline */
  height: 2px; /* Height of the underline */
  background-color: #af0505; /* Match this color with your page's theme */
}
